<h1><%= post.id %>: <%= post.title %></h2>
<div><%= truncate post.description %></div>
<button  class="js-more" data-id="<%= post.id%>">MOre...</button>
<button  class="js-update" data-id="<%= post.id%>", edit_post_path>Update Post</button>
<%=link_to "Update post", edit_post_path(post.id) %>